head 
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
  script(src="/javascripts/setgame.js")
  link(rel='stylesheet',href='stylesheets/style.css')

block content
  div.set-counter
  div.sets-avail
  div.deck#deck
