body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.row 
{
  height: 21.5vh;
}

.shape
{
  margin-top: 5%;
  margin-left: 6%;
}
.deck .card
{
    border: solid 1px #aaa;
    border-radius: 9px;
    width: 12vh;
    height: 20vh;
    float:left;
    padding: 3px 3px 3px 3px;
    margin-left: 5px;
}

.deck .card.tan 
{
    background-color: tan;

}

.deck .card.powderBlue 
{
    background-color: powderBlue;

}

.deck .card.silver 
{
    background-color: lightgray;

}

.deck .card.white 
{
    background-color: white;
}

.card2
{
    width: 50px;
    padding: 10px;
    border: solid 1px #808080;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    font-size: 22px;
    text-align: center;
    border:solid 3px;
}

.card .shape.red 
{
  border: solid 1vh darkred;
}

.card .shape.blue 
{
  border: solid 1vh darkblue;
}

.card .shape.green 
{
  border: solid 1vh green;
}


.card .shape.red.full {
  background:  darkred;
}

.card .shape.blue.full {
  background:  darkblue;
}

.card .shape.green.full {
  background:  green;
}

.card .shape {
  width: 70%;
  height: 17%;
}

.card .rect
{
}

.card .oval
{
    border-radius: 50%;
}

.card .triangle 
{
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.card .triangle.empty .inner-shape
{
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  height: 105%;
  width: 80%;
  margin-left: 10%;
}

.card .triangle.stripe .inner-shape
{
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  height: 105%;
  width: 80%;
  margin-left: 10%;
}

.card.tan .stripe.red .inner-shape {
  background-image: linear-gradient(45deg, #8b0000 25%, #D2B48C 25%, #D2B48C 50%, #8b0000 50%, #8b0000 75%, #D2B48C 75%, #D2B48C 100%);
  background-size: 3vh 3vh;
}

.card.tan .stripe.blue .inner-shape {
  background-image: linear-gradient(45deg, #00008b 25%, #D2B48C 25%, #D2B48C 50%, #00008b 50%, #00008b 75%, #D2B48C 75%, #D2B48C 100%);
  background-size: 3vh 3vh;
}

.card.tan .stripe.green .inner-shape {
  background-image: linear-gradient(45deg, #008000 25%, #D2B48C 25%, #D2B48C 50%, #008000 50%, #008000 75%, #D2B48C 75%, #D2B48C 100%);
  background-size: 3vh 3vh;
}

.card.silver .stripe.red .inner-shape {
  background-image: linear-gradient(45deg, #8b0000 25%, #d3d3d3 25%, #d3d3d3 50%, #8b0000 50%, #8b0000 75%, #d3d3d3 75%, #d3d3d3 100%);
  background-size: 3vh 3vh;
}
.card.silver .stripe.blue .inner-shape {
  background-image: linear-gradient(45deg, #00008b 25%, #d3d3d3 25%, #d3d3d3 50%, #00008b 50%, #00008b 75%, #d3d3d3 75%, #d3d3d3 100%);
  background-size: 3vh 3vh;
}

.card.silver .stripe.green .inner-shape {
  background-image: linear-gradient(45deg, #008000 25%, #d3d3d3 25%, #d3d3d3 50%, #008000 50%, #008000 75%, #d3d3d3 75%, #d3d3d3 100%);
  background-size: 3vh 3vh;
}

.card.powderBlue .stripe.red .inner-shape {
  background-image: linear-gradient(45deg, #8b0000 25%, #b0e0e6 25%, #b0e0e6 50%, #8b0000 50%, #8b0000 75%, #b0e0e6 75%, #b0e0e6 100%);
  background-size: 3vh 3vh;
}
.card.powderBlue .stripe.blue .inner-shape {
  background-image: linear-gradient(45deg, #00008b 25%, #b0e0e6 25%, #b0e0e6 50%, #00008b 50%, #00008b 75%, #b0e0e6 75%, #b0e0e6 100%);
  background-size: 3vh 3vh;
}

.card.powderBlue .stripe.green .inner-shape {
  background-image: linear-gradient(45deg, #008000 25%, #b0e0e6 25%, #b0e0e6 50%, #008000 50%, #008000 75%, #b0e0e6 75%, #b0e0e6 100%);
  background-size: 3vh 3vh;
}

.card .inner-shape {
  width: 100%;
  height: 100%;
}
.card .oval .inner-shape {
  border-radius: 50%;
}


.card.powderBlue .triangle.empty .inner-shape
{
  background: powderBlue;
}

.card.silver .triangle.empty .inner-shape
{
  background: lightgray;
}

.card.tan .triangle.empty .inner-shape
{
  background: tan;
}

.card .triangle.red
{
  background: darkred;
}

.card .triangle.green
{
  background: green;
}

.card .triangle.blue
{
  background: darkblue;
}

.card.selected 
{
  box-shadow: 0px 0px 5px 5px yellow;
}

.card .shapes-num-1
{
  margin-top: 60%;
}
.card .shapes-num-2
{
  margin-top: 36%;
}
.card .shapes-num-3
{
  margin-top: 12%;
}

.card .shapes
{
  margin-left:  5%;
}


